{% load static %}
<html>
  <head>
    <title>Registro de Incidentes</title>
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700,900" rel="stylesheet" >
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
  </head>
  <body class="fondo_login">
    <div class="contenedor_login">
      <div class="presentacion">
        <img src="{% static 'images/fondo_login.jpg' %}" alt="">
      </div>
      <div class="formulario">
        <h2>Registrarse</h2>
        <form method="post">
          {% csrf_token %}
          <div class="input">
            <label class="control-label" for="username">Nombre de usuario</label>
            <input type="text" id="username" name="username"  placeholder="Usuario">
          </div>
          <div class="input">
            <label class="control-label" for="password">Contraseña</label>
            <input type="password" name="password" id="password" placeholder="Contraseña">
          </div>
          <div class="input">
            <label class="control-label" for="password2">Contraseña</label>
            <input type="password" name="password2" id="password2" placeholder="Repetir contraseña">
          </div>
          <button type="submit">Registrarse</button>
        </form>
      </div>
    </div>
  </body>
</html>