body {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 18px;
  margin: 0;
}

button {
  cursor: pointer;
}

button, textarea {
  font-family: 'Source Sans Pro', sans-serif;
}

p {
  margin-block-end: 0;
  margin-block-start: 0;
}


h1, h2, h3, h4, h5 {
  margin-block-end: 0;
  margin-block-start: 0;
  color :rgb(255, 0, 0);
  font-family: sans-serif;
  font-size: 25px;
  
}
h6{
  margin-block-end: 0;
  margin-block-start: 0;
  color :rgb(1, 90, 68);
  font-family: sans-serif;
  font-size: 25px;
}

.botondelete, .botonedit {
  text-decoration: none;
  border: none;
  outline: 1px #000 solid;
  padding: .35em .5em;
  border-radius: .3em;
}

.botonedit {
  background: #fffb00;
  color: #000;
  border: none;
}
.botonedit:hover {
  background: rgb(255, 251, 0);
}

.botonedit:active {
  border: 1px inset #000;
}

.botondelete {
  text-decoration: none;
  background: #ff0000;
  color: #ffffff;
}
.botondelete:hover {
  background: #ff0000;
}
.botondelete:active {
  border: 1px inset #000;
}
.submit {
  background: #ff0000;
  border: 1px solid #393939;
  border-radius: 5px 5px 5px 5px;
  color: #ffffff;
  font-size: 12px;
  padding: 5px;
}
header {
  background-color: #008066;
}

.encabezado {
  display: flex;
  padding: 25px;
  margin: 0 auto;
  max-width: 1200px;
  height: 125px;
  box-sizing: border-box;
  align-items: center;
}

.encabezado a {
  color: #fff;
  text-decoration: none;
}

.nav-left {
  margin-right: auto;
}

.nav-right {
  display: flex;
  align-items: center;
  gap: 40px;
}

.nav-right a {
  padding: 0.25em 0.75em;
}

.nav-right a:hover {
  background-color: #ffffff;
  color: #000;
  padding: 0.25em 0.75em;
  border-radius: 0.25em;
}

.nav-right .links {
  display: flex;
  align-items: center;
  gap: 25px;
  position: relative;
}

.nav-right p {
  border-bottom: 1px solid #fff;
  padding-bottom: 2px;
  font-size: 12px;
  text-align: center;
  display: flex;
  width: 100%;
  justify-content: center;
  color: #fff;
  position: absolute;
  top: 100%;
  margin: 5px 0 0;
}

main {
  margin: 50px auto 50px;
  max-width: 1200px;
  padding: 0 25px;
}

main h2 {
  font-size: 30px;
  margin-bottom: 20px;
}

.lista_incidentes, .lista_vehiculos {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
}

.carta_incidente, .carta_vehiculo {
  box-shadow: #999 0 0 5px 3px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  text-decoration: none;
  color: #000;
  position: relative;
  overflow: hidden;
}

.carta_incidente:hover::after {
  border-radius: 10px;
  left: 0;
  top: 0;
  box-sizing: border-box;
  content: '';
  display: flex;
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: #00000060;
}

.contenedor_imagen_carta {
  padding: 25px 25px 0 25px;
  display: flex;
  justify-content: center;
}

.contenedor_imagen_carta img {
  height: 180px;
}

.carta_descripcion {
  padding: 15px 25px 25px 25px;
  display: grid;
  row-gap: 10px;
  grid-template-columns: 1fr auto;
}

.lista_vehiculos .carta_descripcion {
  background-color: #04237a;
}
.detalle_vehiculos  {
  display: flex;
  gap: 50px;
}

.carta_descripcion2 {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.lista_incidentes .carta_descripcion {
  background-color: #3a3a3a;
}

.lista_vehiculos .carta_descripcion {
  grid-template-areas: "modelo año" "marca marca";
}


.lista_incidentes .carta_descripcion {
  grid-template-areas: "matricula matricula" "modelo fecha" "dueño dueño" "seguro seguro" "estado estado";
}

.carta_descripcion #matricula {
  grid-area: matricula;
}

.carta_descripcion #modelo {
  grid-area: modelo;
}

.carta_descripcion #marca {
  grid-area: marca;
  width: 100%;
  text-align: center;
}

.carta_descripcion #año {
  grid-area: año;
  font-size: 12px;
  background-color: #25584c;
  outline: 1px solid #ddd;
  border-radius: .25em;
  padding: .25em .5em;
  align-self: center;
}

.carta_descripcion #fecha {
  grid-area: fecha;
  font-size: 12px;
  background-color: #25584c;
  outline: 1px solid #ddd;
  border-radius: .25em;
  padding: .25em .5em;
  align-self: center;
}

.carta_descripcion #dueño {
  grid-area: dueño;
}

.carta_descripcion #seguro {
  grid-area: seguro;
}

.carta_descripcion #estado {
  grid-area: estado;
}

.carta_descripcion p {
  text-decoration: none;
  color: #fff;
  font-size: 16px;
}

.carta_descripcion a:hover {
  color: #a3a3a3;
}

.carta_descripcion h3 {
  font-size: 20px;
  position: relative;
  color: #fff;
  outline: 2px solid #fff;
  background-color: #0000aa;
  width: min-content;
  margin: 0 auto;
  padding: .15em 0.6em;
  display: flex;
  align-items: center;
  border-radius: 5px;
}

.carta_descripcion h3::after {
  position: absolute;
  content: '';
  width: 3px;
  height: 50%;
  right: .25em;
  background-color: #fff;
}

.carta_descripcion h3::before {
  position: absolute;
  content: '';
  width: 3px;
  height: 50%;
  left: 0.25em;
  background-color: #fffb00;
}

.carta_descripcion .pendiente {
  color: #fff;
  width: 100%;
  background-color: #d7d30e;
  padding: .35em 0;
  text-align: center;
  border-radius: .25em;
}

.carta_descripcion .resuelto {
  color: #fff;
  width: 100%;
  background-color: #0ed730;
  padding: .35em 0;
  text-align: center;
  border-radius: .25em;
}

.incidente, .vehiculo {
  display: flex;
  gap: 50px;
  margin-top: 25px;
}

.acciones {
  margin-top: 25px;
  display: flex;
  gap: 25px;
  justify-content: flex-end;
}

.contenedor_imagen {
  width: 50%;
  display: flex;
  justify-content: center;
}

.contenedor_imagen img {
  max-width: 100%;
}

.contenedor_descripcion {
  width: 50%;
}

.inicia_sesion {
  text-decoration: none;
  background-color: #000;
  color: #fff;
  padding: .5em 1em;
  border-radius: .25em;
  margin: 50px auto 0;
  display: flex;
  max-width: fit-content;
}

.inicia_sesion:hover {
  background-color: rgb(255, 255, 255);
}

.fondo_login {
  background-color: #008066;
}

.contenedor_login {
  background-color: #fff;
  width: 80%;
  display: flex;
  margin: 100px auto 0;
  border-radius: 5px;
  overflow: hidden;
}

.contenedor_login .presentacion {
  display: flex;
  align-items: center;
  width: 50%;
  padding: 25px 25px 25px 25px;
  box-sizing: border-box;
  background-color: #fdb927;
}

.contenedor_login .presentacion img {
  width: 100%;
}

.contenedor_login .formulario {
  width: 50%;
  box-sizing: border-box;
  padding: 25px;
}

.contenedor_login .formulario h2 {
  font-weight: 700;
  width: 100%;
  font-size: 30px;
  margin-bottom: 10px;
  border-bottom: 2px solid #ccc ;
}

.contenedor_login .formulario form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-bottom: 10px;
}

.contenedor_login .formulario .input {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.contenedor_login .formulario .input label {
  font-size: 20px;
  font-weight: 600;
}

.contenedor_login .formulario .input input {
  font-size: 16px;
  box-shadow: #777 0 0 2px 0px inset;
  outline: 1px solid #444;
  border: none;
  border-radius: 5px;
  padding: .5em .5em;
}

.contenedor_login .formulario button {
  width: 100%;
  max-width: 250px;
  align-self: center;
  font-size: 18px;
  padding: .5em 1em;
  background-color: #25584c;
  border-radius: 0.3em;
  color: #fff;
  border: none;
}

.contenedor_login .formulario .contenedor_redes {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.contenedor_login .formulario a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  padding: .5em 1em;
  width: 100%;
  max-width: 250px;
  text-align: center;
  border-radius: 0.3em;
  box-sizing: border-box;
}

.contenedor_login .formulario #facebook{
  padding:5px 0px;background-color:#0000cc;overflow:hidden;
  font-family:'lucida grande',tahoma,verdana,arial,sans-serif;font-size:20px;
  /*background-color: #0000cc;*/
  

}

.contenedor_login .formulario #google {
   padding:5px 0px;background-color:#ff0000;overflow:hidden;
  font-family:'lucida grande',tahoma,verdana,arial,sans-serif;font-size:20px;
}
.detalle_vehiculo a{
  max-width: 600px;
  box-sizing: border-box;
  box-shadow: #999 0 0 10px 2px;
  margin: 25px;
  padding: 20px 20px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.comentar_incidente form {
  display: flex;
  flex-direction: column;
  gap: 25px;
  margin: 0;
}
.registro_vehiculo, .registro_incidente,.comentar_incidente {
  max-width: 600px;
  box-sizing: border-box;
  box-shadow: #999 0 0 10px 2px;
  margin: 0 auto;
  padding: 25px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.registro_vehiculo form, .registro_incidente form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 25px;
  margin: 0;
}

.comentar_incidente form {
  display: flex;
  flex-direction: column;
  gap: 25px;
  margin: 0;
}


.registro_vehiculo .campo, .registro_incidente .campo, .comentar_incidente .campo {
  display: flex;
  flex-direction: column;
  gap: 5px;
  font-size: 20px;
  text-transform: capitalize;
}

.registro_vehiculo input, .registro_incidente input, .comentar_incidente input {
  border: none;
  box-shadow: #777 0 0 2px 0px inset;
  outline: 1px solid #444;
  font-size: 15px;
  padding: .5em .5em;
  border-radius: 5px;
}

.registro_vehiculo button, .registro_incidente button, .comentar_incidente button {
  background-color: #25584c;
  font-size: 18px;
  padding: .35em;
  border-radius: .3em;
  color: #fff;
  border: none;
  grid-column: 2;
  margin-top: 25px;
}

.registro_incidente .descripcion {
  grid-column-start: 1;
  grid-column-end: 3;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.registro_incidente select {
  border: none;
  box-shadow: #777 0 0 2px 0px inset;
  outline: 1px solid #444;
  font-size: 15px;
  padding: .5em .5em;
  border-radius: 5px;
}

.registro_incidente .descripcion textarea, .comentar_incidente textarea {
  border: none;
  resize: none;
  box-shadow: #777 0 0 2px 0px inset;
  outline: 1px solid #444;
  font-size: 15px;
  padding: .5em .5em;
  border-radius: 5px;
}

.comentar {
  font-size: 25px;
  color: rgb(255, 0, 0);
  font-style: italic;
  font-family: 'Courier New', Courier, monospace;
}
.contenedor_redes boton{
border: 1px solid #2e518b; /*anchura, estilo y color borde*/
padding: 10px; /*espacio alrededor texto*/
background-color: #2e518b; /*color botón*/
color: #ffffff; /*color texto*/
text-decoration: none; /*decoración texto*/
text-transform: uppercase; /*capitalización texto*/
font-family: 'Helvetica', sans-serif; /*tipografía texto*/
border-radius: 50px; /*bordes redondos*/
}
.contenedor_acciones-editar{
  padding:5px 0px;background-color:#e5ff00;overflow:hidden;
  font-family:'lucida grande',tahoma,verdana,arial,sans-serif;font-size:20px;
}
.comentario {
  color: rgb(255, 255, 255);
  background-color: rgb(0, 105, 40);
  display: inline-table;
  padding: 0.5em;
}
