{% load static %}

<html>
  <head>
    <title>Registro de Incidentes</title>
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700,900" rel="stylesheet" >
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
  </head>
  <body>
    <header>
      <div class="encabezado">
        <div class="nav-left">
          <h1><a href="{% url 'inicio' %}" >Incidentes</a></h1>
        </div>        
        <div class="nav-right">
          {% if user.is_authenticated %}
            {% if user.is_superuser %}
              <a href="{% url 'lista_vehiculos' %}">Vehiculos</a>
              <a href="{% url 'nuevo_vehiculo' %}">Registrar Vehiculo</a>
            {% else %}
              <a href="{% url 'nuevo_incidente' %}">Registrar Incidente</a>
            {% endif %}
            <div class="links">
              <p>Hola {{ user.username }}</p>
              <a href="{% url 'logout' %}">Salir (cerrar sesión)</a>
            </div>
          {% else %}
            <div class="links">
              <p>No ha iniciado sesión</p>
              <a href="{% url 'login' %}">Iniciar sesión</a>
              <a href="{% url 'registro' %}">Crear cuenta</a>
            </div>
          {% endif %}
        </div>
      </div>
    </header>
    <main>
      {% if user.is_authenticated %}
        {% block content %}
        {% endblock content %}      
      {% else %}
        <h2 style="width: 100%; text-align: center;">
          Debe iniciar sesión para ver el contenido de esta página
        </h2>
        <a href="{% url 'login' %}" class="inicia_sesion">Iniciar sesión</a>
      {% endif %}
    </main>
  </body>
</html>