{% extends 'base.html' %}

{% block content %}
  <h2>Detalles del incidente</h2>
  <div class="incidente">
    <div class="contenedor_imagen">
      <img src="{{ incidente.modelo.url_imagen }}" alt="">
    </div>
    <div class="carta_descripcion2">
      <h6>Matrícula: {{ incidente.matricula }}</h6>
      <h6>Modelo: {{ incidente.modelo }}</h6>
      <h6>Fecha: {{ incidente.fecha | date:"d, m, Y" }}</h6>
      <h6>Aseguramiento: {{ incidente.get_aseguramiento_display }}</h6>
      <h6>Descripción del incidente: </h6>
      <p>{{ incidente.descripcion }}</p>
      <h4>Comentarios:</h4>
      {% if incidente.comentarios %}
        <p class="comentario">{{ incidente.comentarios }}</p>
      {% else %}
        <p>No hay respuesta todavía</p>
      {% endif %}
    </div>
  </div>
 <div class="acciones">
    {% if incidente.propietario == user %}
      <a class="botonedit" href="{% url 'editar_incidente' incidente.pk %}">Editar datos del Incidente</a>
      <a class="botondelete" href="{% url 'eliminar_incidente' incidente.pk %}">Eliminar Incidente</a>
    {% else %}
      {% if incidente.comentarios %}
        <a class="botonedit" href="{% url 'comentar_incidente' incidente.pk %}">Editar comentario</a>
      {% else %}
        <a class="botonedit" href="{% url 'comentar_incidente' incidente.pk %}">Comentar incidente</a>
      {% endif %}
    {% endif %}
  </div>
{% endblock content %}