{% extends 'base.html' %}
<!---->
{% block content %}
<div class="registro_incidente">
  <h1>Editar datos del incidente</h1>
  <form action="" method="post">
    {% csrf_token %}
    {% for field in form %}
      {% if field.name != 'descripcion' %}
        <div class="campo">
          <label for="{{ field.id_for_label }}" >{{ field.html_name }}</label>
          {{ field }}
        </div>
      {% endif %}
    {% endfor %}
    <div class="descripcion" >
      <label for="{{ form.descripcion.id_for_label }}" >Descripcion</label>
      {{ form.descripcion }}
    </div>
    <button type="submit">Guardar</button>
  </form>
</div>
{% endblock content %}